input {
  beats {
    port => {{ logstash_listen_port }}
  }
}
filter {
  grok {
    match => { "message" => "%{COMMONAPACHELOG}" }
  }
}
output {
  elasticsearch {
    hosts => ["http://34.131.78.74:9200"]
  }
}
