filebeat.inputs:
  - type: log
    enabled: true
    paths:
      - {{ apache_logs_path }}
      - /var/log/*.log
      - /var/log/**/*.log

filebeat.config.modules:
  path: /etc/filebeat/modules.d/*.yml
  reload.enabled: false

output.logstash:
  hosts: ["{{ logstash_host }}:{{ logstash_port }}"]